@model IEnumerable<medic.Data.Model.PeticionPacienteAMedico>

@{
    ViewData["Title"] = "Notificaciones";
}

<h2>Notificaciones</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.visto)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.PacienteID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.visto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteID)
            </td>
            <td>
                <a asp-action="ConsultaConfirmationAsync" asp-route-pacienteId="@item.PacienteID"  asp-route-fecha="@item.Fecha">Aceptar</a> |
                <a asp-action="Delete" asp-route-id="@item.PeticionPacienteAMedicoID">Declinar</a>
            </td>
        </tr>
}
    </tbody>
</table>
